/* Navbar */
.navbar-nav {
  display: flex;
  gap: 20px; /* Adiciona espaçamento entre os itens */
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar {
  background-color: #f8f9fa; /* Cor de fundo clara */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-dark {
  background-color: #000000; /* Navbar escura */
}

.navbar-light {
  background-color: #5767b1c5; /* Navbar clara */
}

/* Tema Claro */
body.light-theme {
  background-color: #cacaca; /* Cor de fundo clara */
  color: #000000;
}

/* Tema Escuro */
body.dark-theme {
  background-color: #000000; /* Cor de fundo escura */
  color: #ffffff;
}

/* Botão de alternância de tema */
.theme-toggle-btn {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.theme-toggle-btn:hover {
  background-color: #f0f0f0;
}
